.Box {
  padding: 15px;
  border: thick double #e2e2e2;
  border-radius: 5px;
}
form label {
  display: block;
}
.Input {
  height: 20px;
  margin-bottom: 15px;
  border: #868686 1px solid;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}
form input {
  margin-bottom: 15px;
}
form button {
  border-radius: 20px;
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, 'Segoe UI', Roboto, Ubuntu,
    'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 21px;
}
