.List {
  padding: 0;
  list-style: none;
  text-align: center;
}
.Item {
  box-shadow: 20px 0 20px -20px #000 inset, -20px 0 20px -20px #000 inset;
  border-bottom: 1px solid rgb(116, 116, 116);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  margin: 10px;
}
.Item button {
  background-color: #ffffff;
  border-radius: 40em;
  box-shadow: #adcfff 0 -12px 6px inset;
  color: #000000;
  cursor: pointer;
  font-family: -apple-system, sans-serif;
  appearance: none;
  border-style: none;
  box-sizing: border-box;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin: 0;
  outline: none;
  padding: 10px 30px;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.Item button:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.Item button:active {
  transform: scale(1.025);
}
